<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>LivoCloud</display-name>
	<servlet>
		<servlet-name>LivoCloudWebApplication</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath://resource//springWeb.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>BotDetect Captcha</servlet-name>
		<servlet-class>botdetect.web.http.CaptchaServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>BotDetect Captcha</servlet-name>
		<url-pattern>/botdetectcaptcha</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>LivoCloudWebApplication</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>